[user]
	name = joestar
	email = joestar@lwork.com
[credential]
	helper = cache --timeout=3600
[push]
	default = simple
[diff]
	tool = icdiff
[icdiff]
	options = --highlight --line-numbers
[pull]
	rebase = true
[core]
	editor = vim
